# Ignore everything
*

# Except these
!.gitignore
!LICENCE
!README.md
!makefile
#
!homeassistant/
!homeassistant/automation.yaml
!homeassistant/customize.yaml
!homeassistant/configuration.yaml
!homeassistant/scripts.yaml
!homeassistant/.storage/
!homeassistant/.storage/lovelace
