.cloud/
**/custom_components/*
deps/
.storage/
tts/

*.conf
*.json
*.tmp
alexa_media.pickle
adbkey*
emulated*
entity_registry.yaml
harmony*
home-assistant*
.homekit.state
known_devices.yaml
OZW_Log.txt
options.xml
secrets.yaml
*.sqlite
.uuid
.wink.conf
zw*
!zwave.yaml
!custom_components.json
