- id: '1574092214876'
  alias: Sunset lights
  description: ''
  trigger:
  - platform: template
    value_template: '{{ states.sun.sun.attributes.elevation < 8.5 }}'
  condition: []
  action:
  - type: turn_on
    device_id: 06115663eedb4542bedae4be22ce6cf6
    entity_id: switch.kitchen_sink
    domain: switch
  - type: turn_on
    device_id: 493d7d5d960c40adaf59b97f926030bb
    entity_id: switch.office_desk
    domain: switch
  - type: turn_on
    device_id: dcb083f35f074de2aa94192e8cd9eaa0
    entity_id: light.office_table
    domain: light
    brightness_pct: 80
  mode: single
- id: '1574096809868'
  alias: Sunrise lights
  description: ''
  trigger:
  - event: sunrise
    platform: sun
  condition: []
  action:
  - data: {}
    entity_id: all
    service: light.turn_off
  - data: {}
    entity_id: switch.night_mode
    service: switch.turn_on
  mode: single
- id: '1574278470479'
  alias: Notify when UPS goes on battery
  description: ''
  trigger:
  - entity_id: sensor.office_ups_status_data_short
    from: OL
    platform: state
    to: OB
  condition: []
  action:
  - data:
      message: Lost power @ {{ as_timestamp(now()) | timestamp_custom('%-I:%M%p %d-%b-%Y',
        true) }}
    service: notify.forwardcomputers
  mode: single
- id: '1574280082056'
  alias: Notify when UPS goes on online
  description: ''
  trigger:
  - entity_id: sensor.office_ups_status_data_short
    from: OB
    platform: state
    to: OL
  condition: []
  action:
  - data:
      message: Power's back @ {{ as_timestamp(now()) | timestamp_custom('%-I:%M%p
        %d-%b-%Y', true) }}
    service: notify.forwardcomputers
  mode: single
- id: '1574280193336'
  alias: Notify when UPS battery needs replacing
  description: ''
  trigger:
  - platform: template
    value_template: '{{ ''RB'' in states(''sensor.office_ups_status_data_short'')
      }}'
  condition: []
  action:
  - data:
      message: 'UPS battery must be replaced. Search on amazon: https://amzn.to/2wzV4Io
        and https://amzn.to/2MXBQH2'
    service: notify.forwardcomputers
  mode: single
- id: '1575054174712'
  alias: Vacation
  description: ''
  trigger:
  - at: 00:00:01
    platform: time
  - event: start
    platform: homeassistant
  condition: []
  action:
  - data:
      date: 15/2/2020
      name: Belize
      type: in
    service: python_script.date_countdown
- id: '1575216740437'
  alias: Download EC forecast
  description: ''
  trigger:
  - event: start
    platform: homeassistant
  - minutes: '30'
    platform: time_pattern
  condition: []
  action:
  - service: shell_command.download_ec_forecast_toronto
  mode: single
- id: '1578970908730'
  alias: Speedtest @ startup
  description: ''
  trigger:
  - event: start
    platform: homeassistant
  condition: []
  action:
  - service: speedtestdotnet.speedtest
  mode: single
- id: '1595596049319'
  alias: Night
  description: ''
  trigger:
  - platform: webhook
    webhook_id: night
  condition: []
  action:
  - data: {}
    entity_id: media_player.nvidia_nshield
    service: media_player.turn_off
  - data: {}
    service: shell_command.macbook_sleep
  - device_id: 493d7d5d960c40adaf59b97f926030bb
    domain: switch
    entity_id: switch.office_desk
    type: turn_off
  - brightness_pct: 5
    device_id: 795eb91b579f42f4b00f468c17cfbc8f
    domain: light
    entity_id: light.bedroom
    type: turn_on
  mode: single
